.fa {
    padding: 15px;
    font-size: 60px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 10px;
    align-self: center;
  }
.fa:hover {
    opacity: 0.7;
  }
.fa-twitter {
    background: #1da1f2;
    color: white;
}
.fa-linkedin {
    background: #0e76a8;
    color: white;
}
.fa-google {
    background: #d44638;
    color: white;
}
img {
    width: 275px;
    padding: 100px;
    background-color: peru;
}
html {
    columns: 2;
    background-color: #f1f1f1;
    font-family: 'Noto Serif', serif;
}
h1 {
    vertical-align: 50%;
    margin-top: 100px;
    padding-top: 100px;
    color: peru;
}
ol {
    vertical-align: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
  #bodyText {
    color: slategray;
    padding-bottom: 20px;
    vertical-align: 50%;
  }
  #aboutMe {
      font-weight: 700;
      padding-top: 10px;
  }
